@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-btn {
    @apply inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 focus:bg-gray-700 active:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition ease-in-out duration-150;
}

.secondary-btn {
    @apply inline-flex items-center px-4 py-2 bg-white border border-gray-300 rounded-md font-semibold text-xs text-gray-700 uppercase tracking-widest shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 disabled:opacity-25 transition ease-in-out duration-150;
}

.yellow-btn {
    @apply inline-flex items-center gap-1.5 px-3 py-1.5 text-xs font-medium uppercase tracking-widest text-yellow-800 bg-yellow-50 border border-yellow-200 rounded-lg hover:bg-yellow-100 hover:text-yellow-900 transition ease-in-out duration-150;
}

.red-btn {
    @apply inline-flex items-center gap-1.5 px-3 py-1.5 text-xs font-medium uppercase tracking-widest text-red-800 bg-red-50 border border-red-200 rounded-lg hover:bg-red-100 hover:text-red-900 transition ease-in-out duration-150;
}

.indigo-btn {
    @apply inline-flex items-center gap-2 px-3 py-1.5 text-xs font-medium uppercase tracking-widest text-indigo-700 bg-indigo-50 border border-indigo-200 rounded-lg hover:bg-indigo-100 hover:text-indigo-800 transition ease-in-out duration-150;
}

.emerald-btn {
    @apply inline-flex items-center gap-2 px-3 py-1.5 text-xs font-medium uppercase tracking-widest text-emerald-700 bg-emerald-50 border border-emerald-200 rounded-lg shadow-sm hover:bg-emerald-100 hover:text-emerald-800 transition ease-in-out duration-150;
}

.pagination-btn {
    @apply flex items-center justify-center px-4 border border-gray-200 bg-white text-gray-700 text-sm w-9 h-9 hover:bg-gray-100 transition;
}

